:root {
  --c-negro: black;
  --c-transparent: transparent;
  --c-naranja: orange;
  --c-rojo: red;
  --c-rojo-boton: #E2211C;
  --c-celeste: skyblue;
  --c-azul: blue;
  --c-amarillo: yellow;
  --c-green: green;
  --c-mainHigh: #1d1d1d;
  --c-mainMedium: #313131;
  --c-mainLow: #404040;
  --c-dorado: #efb810;
  --c-dorado-button: #febe10;
  --c-Paypal: #ffc439;
  --c-gris-1: #bdbdbd;
  --c-blanco: white;
  --c-blanco-suave: #F7F7F7;
  --c-naranja1: #fda085;
  --c-dorado-fino: #dd9933;
  --gradiente1: linear-gradient(to right, #f6d365, #fda085);
  --family-like: 'Montserrat';
  --c-negro-navegador-letter: #333;
  --c-negro-landing-page: #121215;
  --c-negro-landing-page-0: #17171b;
  --c-azul-facebook: #3b5998;
  --c-azul-linkedin: rgb(0, 125, 189);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--c-negro-landing-page);
  font-family: 'Mukta', sans-serif;
  line-height: 26px;
}

.button {
  text-decoration: none;
  line-height: 26px;

  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 9px 30px;
  text-align: center;
  font-size: 15px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  font-weight: 600;
  border: 1px solid var(--c-dorado-button);
  background: transparent;
  border-radius: 0px;
  cursor: pointer;
  color: var(--c-dorado-button);
  margin-top: 25px;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  will-change: transform;     
  &:hover {
    color:var(--c-blanco);
    background-color: transparent;
    border: 1px solid var(--c- --c-dorado-button);
  }
  &::after, &::before {
    content: '';
    width: 0;
    height: 100%;
    background: var(--c-dorado-button);
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: width 0.4s;
    transition: width 0.4s;
    z-index: -1;
    opacity: .4;
  }
  &::after {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    background: var(--c-dorado-button);
    opacity: 1;
  }
  &:hover::before,
  &:hover::after {
    width: 100%;
  }
  &:hover::after {
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
  }
}

.active {
  color: var(--c-dorado) !important;
}

#navegador {
  background-color: var(--c-transparent);
  color: var(--c-blanco);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  z-index: 999;
  padding: .5rem 1rem;
  position: fixed;
  top: 0px;
  & > div > img {
    color: white;
    filter: drop-shadow(1px 1px 1px var(--c-negro));
  }
  & > ul {

    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1.5rem;
    list-style-type: none;
    & > li > a {
      text-decoration: none;
      color: var(--c-blanco);
      font-family: 'Mukta', sans-serif;
      font-weight: 600;
      &:hover {
        color: var(--c-dorado)
      }
    }
  }
}
.animation {
  transition: all .3s ease-in-out
}
.carrusel {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  place-items: center;
  background-color: var(--c-negro-landing-page);
  position: relative;
  & > div {

    list-style-type: none;
    width: 100%;
    opacity: .6;
    & img {
      height: 100vh;
      width: 100%;      
      object-fit: cover;

      
    }
  }
  
  & > div:nth-of-type(2) {
    
    position: absolute;
    display: flex;
    place-content: center;
    place-items: center;
    width: 100%;
    opacity: 1;
    flex-direction: column;
    line-height: 26px;
    padding: max(30px, 20vw);
    & > div {
      
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: var(--c-blanco);
      
      line-height: 26px;
      gap: 1.5rem;
      text-align: center;

      & > h4 {
        letter-spacing: 7px;
      }
      & > h1 {
        font-size: max(3rem, 5vw);
        line-height: 3rem;
      }
      & > p {
        font-size: 16px;
      }
    }
    & > button {
      line-height: 26px;
      position: relative;
      z-index: 1;
      display: inline-block;
      padding: 9px 30px;
      text-align: center;
      font-size: 15px;
      text-transform: capitalize;
      letter-spacing: 0.5px;
      font-weight: 600;
      border: 1px solid var(--c-dorado-button);
      background: transparent;
      border-radius: 0px;
      cursor: pointer;
      color: var(--c-dorado-button);
      margin-top: 25px;
      overflow: hidden;
      white-space: nowrap;
      -webkit-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
      will-change: transform;     
      
    }
    & > button:hover {
      color: #000;
      background-color: transparent;
      border: 1px solid var(--c-blanco);
    }
    & > button::after, > button::before {
      content: '';
      width: 0;
      height: 100%;
      background: var(--c-blanco);
      position: absolute;
      left: 0;
      top: 0;
      -webkit-transition: width 0.4s;
      transition: width 0.4s;
      z-index: -1;
      opacity: .4;
    }
    & > button::after {
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
      background: var(--c-blanco);
      opacity: 1;
    }
    & > button:hover::before, & > button:hover::after {
      width: 100%;
    }
    & > button:hover::after {
      -webkit-transition-delay: .2s;
      transition-delay: .2s;
    }
  }
}

.slifer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slife {
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;

}

.slife.fade {
  opacity: 1;
}

.video {
  animation: fadeIn 1s forwards;
  padding: 4rem 15px;
  margin: 0 auto;
  max-width: 87.5%;
  display: flex;

  & > .video1 {
    flex: 1 1;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    & > h3 {
      color: var(--c-dorado);
      font-family: 'Fondamento', cursive;
    }
    & > h1 {
      color: var(--c-blanco);
      font-family: 'Mukta', sans-serif;
      line-height: 1.5;
    }
    & > p {
      color: var(--c-gris-1);
      
    }
    & > a {
      width: 150px;
    }
  }
  & > #video {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1;
    padding: 0 .5rem;
    
    & > div {
      width: 100%;
      position: relative;
      z-index: 1;
      height: auto;
      & > img {
        width: 100%;
        display: block;
      }
      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: .4;
        background-color: var(--c-negro);
      }
      & > div {
        position: absolute;
        top: 40%;
        left: 45%;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        z-index: 2;
        cursor: pointer;
        & > svg {
          width: 4rem;
          height: 4rem;
        }
        & path {
          stroke: white;
          stroke-width: 20 !important;

        }
      }
    }
    
    
  }
    
}

.propiedades {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  justify-content: space-around;
  background-color: var(--c-negro-landing-page-0);
  color: var(--c-blanco);
  gap: 1rem;
  & > div {
    max-width: 240px;
    display: flex;
    gap: 1rem;
    

    transition: scale .3s ease-in-out;

    & > div {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      & h5 {
        font-weight: 1000;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
      }
    
      & > svg {        
        width: 3rem;
        height: 3rem;
        & path {
          fill: white
        }
      }
    }
    
  }
  & > div:hover {
    scale: 1.05
  }
}

.menu {
  padding: 4rem;
  color: var(--c-blanco);
  text-align: center;
  .menu-select {
    & > h3 {
      font-family: 'Cookie', sans-serif;
      font-size: 2rem;
      font-weight: 100;
      color: var(--c-dorado)
    }
    & > h1 {
      padding: 2rem 0 4rem;
      font-size: 38px;
      font-family: 'Fondamento', cursive;
    }
    & > div {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2rem auto;
      flex-wrap: wrap;
      gap: 1rem;
      & > div {
        min-width: 5rem;
        border-right: 1px dotted white;
        & > h3 {
          transition: color .3s ease-in-out;

        }
        & > svg {
          width: 2rem;
          height: 2rem;
          
          
          & > g > path {
            transition: all .3s ease-in-out;

            fill: var(--c-blanco);
            

          }
        }
        &:hover {
          & > h3 {
            color: var(--c-dorado) !important;
          }
          & path {
            fill: var(--c-dorado) !important;
          }
        }
      };
    }
  }
  .menu-productos {
    display: grid;
    text-align: left;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    & > div {
      display: flex;
      width: 100%;      
      justify-content: space-between;
      padding-bottom: 1rem;
      border-bottom: 1px dotted var(--c-blanco);
      & > div {
        & > a {
          text-decoration: none;
          color: var(--c-blanco);
          font-weight: 700;
        }
        & > p {
          color: var(--c-gris-1)
        }
      }
      & > p {
        color: var(--c-dorado)
      }
    }
  }
}

.book-a-table::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--c-negro);
  opacity: .6;
  z-index: -1;
}

.book-a-table {
  background-image: url('https://cutesolution.com/html/sushi/assets/img/banner-bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  padding: 100px 0;
  position: relative;
  z-index: 1;
  text-align: center;
  color: var(--c-blanco);
  & > h1 {
    text-transform: uppercase;
    margin: 1.5rem auto;
    font-size: 3rem;
  }
  & > p {
    font-size: 1.25rem;
    & > .sub {
    text-decoration: underline;
    color: var(--c-blanco);
    }
  }
  
}

.gallery {
  color: var(--c-blanco);
  text-align: center;
  padding: 100px 0;
  & > h3 {
    font-family: 'Cookie', sans-serif;
    font-size: 2rem;
    font-weight: 100;
    color: var(--c-dorado)
  }
  & > h1 {
    padding: 2rem 0 4rem;
    font-size: 38px;
    font-family: 'Fondamento', cursive;
  }
  & > div {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(330px, 330px));
    align-items: center;
    justify-content: center;
    gap: 2rem;
    
    & > div {
      overflow: hidden;
      height: 275px;
      
      & img {
        width: 100%;
        transition: all .3s ease-in-out;
        
      }
      & img:hover {
        opacity: .4;
        scale: 1.1;
      }
    }
    
  }
}

#galleryModal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  align-items: center !important;
  justify-content: center !important;
  z-index: 999;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .7;
    background-color: var(--c-negro-landing-page)
  }
  > div {
    height: 100%;
    width: 100%;
    display: flex;    
    align-items: center;
    padding: 0 2rem;
    position: relative;
    
    & > div {
      & > div {
        opacity: 1;
        display: flex !important;
        align-items: center !important;
      }
    }
    .slick-next, .slick-prev {
      background-color: var(--c-mainLow);
      color: #fff;
      border: none;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      font-size: 18px;
      line-height: 40px;
      text-align: center;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      &:hover {
        background-color: var(--c-dorado);

      }
    }
    
    .slick-next::before {
      content: "▶";
    }
    .slick-prev::before {
      content: "◀"; 
    }
    & img {

      margin: 0 auto;
      max-height: 500px;
      max-width: 750px;
      width: 100%;
    }
  }
  
}

.exclusive {
  color: var(--c-blanco);
  background-color: var(--c-mainHigh);
  padding: 100px 0;
  text-align: center;
  & > h3 {
    font-family: 'Cookie', sans-serif;
    font-size: 2rem;
    font-weight: 100;
    color: var(--c-dorado)
  }
  & > h1 {
    padding: 2rem 0 4rem;
    font-size: 38px;
    font-family: 'Fondamento', cursive;
  }
  & > div {
    .slick-prev, .slick-next {
      display: none !important;
    }
    transition: transform 0.5s ease-in-out;
    width: 850px;
    margin: 0 auto;
    & > div > div {
      gap: 1rem;
      display: flex;
      
    & > div {
      position: relative;
      
      display: flex !important;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--c-mainLow);
      
      .exclusive-interaction {
        position: absolute;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        top: 50%;
        opacity: 0;
        transition: all .3s ease-in-out;
        & > div {
          width: 2.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 2.5rem;
          border-radius: 30px;
          background-color: var(--c-negro-landing-page);
          cursor: pointer;
          &:hover {
            background-color: var(--c-dorado);
          }
        }
      }

      & > div {        
        padding: 2rem 0;   
        
        & > button {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: .5rem;
        }
        & > button:hover path {
          fill: var(--c-blanco)
        }
      }
      &:hover {
        .exclusive-interaction {
          opacity: 1;
          top: 40%
        }
      }
    }
  }
  }
}

.team {
  padding: 100px 0;
  color: var(--c-blanco);
  text-align: center;
  & > h3 {
    font-family: 'Cookie', sans-serif;
    font-size: 2rem;
    font-weight: 100;
    color: var(--c-dorado)
  }
  & > h1 {
    padding: 2rem 0 4rem;
    font-size: 38px;
    font-family: 'Fondamento', cursive;
  }
  & > div {
    padding: 0 3rem;
    margin: 0 auto;
    display: grid;
    max-width: 1280px;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    & > div {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      position: relative;
      & > .team-imagen {
        overflow: hidden;
        & > img {
        transition: all .3s ease-in-out;
        
        }
        &:hover {
          & > img {
            scale: 1.1;
            opacity: .5;
          }
        }
        .redes {
          opacity: 0;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 2rem;
          width: 100%;
          top: 60%;
          transition: all .3s ease-in-out;
          & > div {
            cursor: pointer;
          }
          .facebook {
            background-color: var(--c-blanco);         
            height: 2rem;
            width: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            padding: .4rem;
            transition: all .3s ease-in-out;
            & svg > g > path {
              fill: var(--c-azul-facebook);
            }
            &:hover {
            background-color: var(--c-azul-facebook);
              & svg > g > path {
                fill: var(--c-blanco);            }
            
            }
          }
          .twitter {
            background-color: var(--c-blanco);         
            height: 2rem;
            width: 2rem;
            padding: .4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            transition: all .3s ease-in-out;
            &:hover {
              background-color: var(--c-celeste);
                & svg > g > path {
                  fill: var(--c-blanco);            }
              
              }
          }
          .linkedin {
            background-color: var(--c-blanco);         
            height: 2rem;
            width: 2rem;
            padding: .4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            transition: all .3s ease-in-out;
            & svg > g > circle {
              fill: var(--c-blanco)
  
            }      
            & svg > g > path {
              transition: all .3s ease-in-out;
              fill: var(--c-azul-linkedin);
            }
            & svg > g > circle {
              transition: all .3s ease-in-out;
            }
            &:hover {
              background-color: var(--c-azul-linkedin);
              & svg > g > circle {
  
                fill: var(--c-azul-linkedin)
    
              }      
              & svg > g > path {
                fill: var(--c-blanco);
              }
              
            }
          }
        }
      }
      & > div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        & > h1 {
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          font-size: 1rem;
        }
        & > h3 {
          color: var(--c-dorado);
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          font-size: .9rem;
        }
      }
      
    }
    & > div:hover > .team-imagen > .redes {
      opacity: 1;
      top: 40%;
    }
  }
}

.testimonials {
  color: var(--c-blanco);
  background-color: var(--c-mainHigh);
  padding: 100px 2rem;
  text-align: center;
  & > h3 {
    font-family: 'Cookie', sans-serif;
    font-size: 2rem;
    font-weight: 100;
    color: var(--c-dorado)
  }
  & > h1 {
    padding: 2rem 0 4rem;
    font-size: 38px;
    font-family: 'Fondamento', cursive;
  }
  & > div {
    .slick-prev, .slick-next {
      display: none !important;
    }
    & > div > div {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      & > div {
        display: flex;
        flex-direction: column;
        background-color: var(--c-negro-landing-page);
        border-radius: .4rem;
        & > div:nth-of-type(1) {
          padding: 2rem;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          text-align: left;
          font-size: .9rem;
        }
        & > div:nth-of-type(2) {
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: flex-start;
          gap: 1rem;
          padding: 1.5rem 0;
          background-color: var(--c-mainHigh);
          clip-path: polygon(0% 15%, 5% 0%, 100% 0, 100% 100%, 0 100%);
          & > img {
            height: 90px;
            width: 90px;
            object-fit: cover;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

.contact-us {
  color: var(--c-blanco);
  padding: 100px 0;
  text-align: center;
  & > h3 {
    font-family: 'Cookie', sans-serif;
    font-size: 2rem;
    font-weight: 100;
    color: var(--c-dorado)
  }
  & > h1 {
    padding: 2rem 0 4rem;
    font-size: 38px;
    font-family: 'Fondamento', cursive;
  }
  & > div {
    display: flex;
    padding: 0 4rem;
    justify-content: center;
    gap: 2rem;
    
    flex-wrap: wrap;
    .dates {
      text-align: left;
      width: 300px;
      & > div {
        display: flex;
        flex-direction: column;
        & > h3 {
          margin: 1rem 0;
        }
        & > div, > a {
          color: var(--c-gris-1);
          margin: .5rem 0;
          display: flex;
          
        }
        & > input {
          color: var(--c-blanco);
          padding: 1rem;
          background-color: var(--c-negro-landing-page);
          border-radius: .5rem;
          border: 1px solid var(--c-gris-1);
          border-left: 4px solid var(--c-dorado);
        }
        & > button {
          border-radius: .5rem;
        }
        &:nth-of-type(2) {
          & > div {
            display: flex;
            justify-content: space-between;

          }
        }
      }
    }
    & > form {
      border-radius: .5rem;
      background-color: var(--c-blanco);
      width: 700px;
      display: flex;
      flex-direction: column;
      padding: 2rem 3rem;
      gap: 1rem;
      & > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        & > input {
          padding: 1rem;
          width: 45%;
          border-radius: .3rem;
          border: 1px solid black;
          border-left: 4px solid var(--c-dorado);
        }
      }
      & > input {
        width: 100%;
        padding: 1rem;
        border-radius: .3rem;
          border: 1px solid black;
          border-left: 4px solid var(--c-dorado);
      }
      & > button {
        width: 200px;
      }
      & > textarea {
        height: 150px;
        padding: 1rem;
        border-radius: .3rem;
          border: 1px solid black;
          border-left: 4px solid var(--c-dorado);
      }
    }
  }
}

footer {
  color: var(--c-blanco);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 4rem 5rem;
  & > div {
    & > a {
    
      text-decoration: none;
      color: var(--c-blanco);
      padding: 0 1rem;
    };
  }
}

#videoModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  & > iframe {
    width: 1000px;
    height: 60vh;
  }
}

#navegador.colapse {
  display: flex !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0.1;
    
  }
 
  100% {
    opacity: 1;
    
  }
}

@media (max-width: 420px) {
  .menu {
    .menu-select {
    
      & > div {
        
        & > div {
          border-right: none;
        }
      }
    }
  }
}



@media (max-width: 888px) {
  .exclusive-columnas {
    width: 580px !important;
  }
  .propiedades {
    flex-wrap: wrap;
    padding: 4rem 5rem;
    justify-content: unset;
  }

  .contact-us {
    & > div > .dates {
      width: 100%;
      padding: 0 1rem !important;
    }
  }
}

@media (max-width: 615px) {
  .exclusive-columnas {
    width: 290px  !important;
  }

  .contact-us {
    & > div {
      & > .dates {
        
            width: 100%;
            padding: 0rem !important;
          
        }
      
      & > form {
        & > div {
          flex-direction: column;
          gap: 1rem;
          & > input {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .video {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    & > div {
      flex: none;
      & > div {
        margin: 0 3rem !important;
        min-width: 300px;
      }
    }
  }
  .menu-productos {
    grid-template-columns: 1fr !important
  }

  #toggle {
    z-index: 999;
    border-radius: .2rem;
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--c-dorado);
    width: 3rem;
    height: 3rem;
  }


  #navegador {
    display: none;
    flex-direction: column;
    padding: 1rem 0 0;
    & > ul {
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
      width: 100%;
      margin: 0;
      & > li {
        text-indent: 1.5rem;
        width: 100%;
        & > a {
          display: flex;
          padding: .5rem 0;
          width: 100%;
        }
        &:hover {
          background-color: var(--c-dorado);
        }
      }
    }
  }
}

@media (max-width: 1176px) {
  .contact-us {

    & > div > .dates {
      width: 100%;
      padding: 0 6rem;
    }
  }
}